
# Frontend (Streamlit)
streamlit

# Shared Dependencies
pillow
reportlab
requests
pandas


# Streamlit Framework
streamlit
streamlit-option-menu

# Database & ORM
sqlalchemy
psycopg2-binary

# PDF Generation
reportlab

# API Communication
requests

# Data Processing
pandas

# Utilities
python-dateutil